body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
	background: #fffff url(images/bg.png);
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
	background-position: center top;
    min-width: 800px;
}

#banner{
    position:relative;
    background-image:url(http://i.imgur.com/YSJkxoG.png);
    repeat:repeat;
	height: 500px;
}

h1 {
padding-top: 150px;
font-size: 250px;
text-align: center;
font-family: "Tw Cen MT Condensed";
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: white;
font-weight: bold;
color: #0078ff;
opacity: 0.7;
}

h2 {
padding-top: 20px;
font-size: 100px;
text-align: center;
font-family: "Tw Cen MT Condensed" Extra, Bold;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: white;
font-weight: bold;
color: #44494f;
opacity: 0.7;
}

#content{
background-color: white;
height:600px;
}

#video {
display: block;
margin: 0 auto;
    padding-top: 90px;
}

#footer{
position:relative;
background-image:url("http://i.imgur.com/qZ8ZA1m.png");
repeat:repeat;
}
.footer-column {
display: block;
margin: 0 auto;
}

#button { height: 100px; width: 200px; overflow: hidden; }
	}
	
	
