body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
	background: #fffff url(images/bg.png);
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
	background-position: center top;
        min-width: 800px;
}

#banner{
background-image:url("http://i.imgur.com/3ciLWUW.png");
height:340px;

}

#content{
background-image:url("http://i.imgur.com/Z1Y9psI.png");
height:700px;

}

#footer{
background-image:url("http://i.imgur.com/D1hUDo0.png");
height:200px;

}

	}
