body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #fffff url(images/bg.png);
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}

#logo {
     display: block;
    margin-left: auto;
    margin-right: auto;
	max-height: 300px;
	max-width: 300px;
	width: 300px;
	height: 300px;
	margin-top: 100px;
    margin-bottom: 40px;
	}

#button {
     display: block;
    margin-left: auto;
    margin-right: auto;
	max-height: 300px;
	max-width: 300px;
	width: 300px;
	height: 300px;
	margin-top: 100px;
    margin-bottom: 40px;
	}	

h1 {
display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
	text-align: center;
	margin-top: 40px;
    margin-bottom: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	font-size: 39px;
	color: #080102;
}	

h2 {
display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
	text-align: center;
	margin-top: 20px;
    margin-bottom: 30px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	font-size: 39px;
	color: #3d3a3a;
	}
	
	
h3 {
display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
	text-align: center;
	margin-top: 20px;
    margin-bottom: 25px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	font-size: 22px;
	color: #3d3a3a;
	border-style: solid;
	
	}
		
iframe {
display: block;
margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}	

hr {
 border: 0;
  width: 65%;
  color: black;
background-color: #3d3a3a;
height: 3px;

}
   
}





	}
	
	
